@model ZaryadApp.Models.Post

@{
    ViewData["Title"] = "Новина";
}

<div>
    <hr />
    <h1 class="news-header">@Html.DisplayFor(model => model.Title)</h1>
    <div class="news-content">
        <p class="news-date">Створено: @Html.DisplayFor(model => model.CreatedAt)</p>
        <p>@Html.DisplayFor(model => model.Text)</p>
    </div>
</div>