@model IEnumerable<ZaryadApp.Models.Post>

@{
    ViewData["Title"] = "Index";
}

<h1 class="page-header">Новини</h1>


@foreach (var item in Model)
{
    <div class="news">
        <h1 class="news-header">@item.Title</h1>
        <div class="news-content">
            <p class="news-date">@item.CreatedAt</p>
            <p class="news-text">@item.Text</p>
        </div>
        <a class="news-link" asp-action="Details" asp-route-id="@item.Id">Читати далі</a>
    </div>
}

