html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  background-color: #292a37;
}

.container {
    padding-top: 30px;
    overflow: auto;
    overflow-y: clip;
    color: white;
    background-color: #44444c;
    width: 60%;
    border-style: solid;
    border-width: 7px;
    border-color: burlywood;
}
.container-md {
    text-align: center;
}
.navigation-element {
    text-align: center;
    display: block;
    width: 200px;
    color: black;
    text-decoration: none;
    padding: 10px;
    border-style: solid;
    border-color: goldenrod;
    border-radius: 5px;
    background-color: goldenrod;
}
main {
    height: calc(100vh);
}
.page-header {
    text-align: center;
    border-style: solid;
    border-radius: 5px;
    border-width: 5px;
    border-color: #2c2c2c;
    background-color: #2c2c2c;
}
.news {
    text-align: right;
    margin-left: 5%;
    width: 90%;
    border-style: solid;
    border-radius: 5px;
    border-width: 5px;
    margin-bottom: 5px;
    border-color: #2c2c2c;
    background-color: #2c2c2c;
}

.news-header {
    border-style: solid;
    border-color: #2c2c2c;
    border-radius: 5px;
    text-align: center;
    background-color: #2c2c2c;
    color: white;
}
.news-link {
    text-decoration: none;
    color: goldenrod;
    text-align:right;
}
.news-content {
    text-align: left;
    border-style: solid;
    border-color: #2c2c2c;
    border-radius: 5px;
    background-color: #2c2c2c;
}
.news-date {
    text-align: right;
}