@model ZaryadApp.Models.Review

@{
    ViewData["Title"] = "Відгук";
}

<h1>Відгук</h1>

<div class="review">
    <div class="row">
        <div class="col">
            <div class="row align-items-center">
                <div class="col-auto">
                    <img class="user-icon" src="~/images/user.png" />
                </div>
                <div class="col">
                    <p>@Html.DisplayFor(model => model.Text)</p>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <p>@Html.DisplayFor(model => model.ApplicationUser.UserName)</p>
                </div>
            </div>
        </div>
    </div>
</div>
