@model IEnumerable<ZaryadApp.Models.Review>

@{
    ViewData["Title"] = "Відгуки";
}

<h1 class="page-header">Відгуки</h1>

@foreach (var item in Model) {
    <div class="review">
        <div class="row">
            <div class="col">
                <div class="row align-items-center">
                    <div class="col-auto">
                        <img class="user-icon" src="images/user.png"/>
                    </div>
                    <div class="col">
                        <p>@item.Text</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <p>@item.UserName</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
}

<a asp-action="Create" class="navigation-element">Залишіть свій відгук</a>