@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<h1>Адмін панель</h1>
<a asp-action="AdminIndex" asp-controller="Stations">Станції</a>
<a asp-action="Index" asp-controller="Settings">Фільтри</a>
<a asp-action="AdminIndex" asp-controller="Posts">Новини</a>
<a asp-action="AdminIndex" asp-controller="Reviews">Відгуки</a>
