<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - ZaryadApp</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/ZaryadApp.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark box-shadow mb-3">
            <div class="container-fluid">
                <div class="d-flex align-items-center">
                    <img class="logo-icon" src="~/images/logo.png" />
                    <a class="navbar-brand ms-2" asp-area="" asp-controller="Home" asp-action="Index">Зарядні станції електромобілів України</a>
                </div>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="ml-auto">
                    <img class="user-icon" src="~/images/user.png"/>
                    <div class="navbar-collapse collapse d-sm-inline-flex justify-content-end">
                        <partial name="_LoginPartial" />
                    </div>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <div class="container-md d-flex flex-column align-items-center">
            <div class="row">
                <div class="col text-center">
                    <a class="navigation-element" asp-area="" asp-controller="Home" asp-action="About">Про сервіс</a>
                </div>
                <div class="col text-center">
                    <a class="navigation-element" asp-area="" asp-controller="Home" asp-action="Index">Карта зарядних станцій</a>
                </div>
                <div class="col text-center">
                    <a class="navigation-element" asp-area="" asp-controller="Stations" asp-action="Index">Пошук за фільтрами</a>
                </div>
            </div>
            <div class="row align-items-center m-3">
                <div class="col text-center">
                    <a class="navigation-element" asp-area="" asp-controller="Reviews" asp-action="Index">Відгуки</a>
                </div>
                <div class="col text-center">
                    <a class="navigation-element" asp-area="" asp-controller="Posts" asp-action="Index">Новини</a>
                </div>
            </div>
        </div>
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
    <div class="container-sm">
        <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4">
            <div class="col-md-4 d-flex align-items-center">
                <img class="logo-icon" src="~/images/logo.png" />
                <a style="color: white; text-decoration: none; font-size: 18px;" class="m-1" asp-area="" asp-controller="Home" asp-action="Index">Зарядні станції електромобілів України</a>
            </div>
            <ul class="nav col-md-4 justify-content-end list-unstyled d-flex">
                <li class="ms-3">
                    <img class="facebook-icon" src="~/images/facebook.png" />
                    <a style="color: white; text-decoration: none;" href="https://www.facebook.com/profile.php?id=100092755130395">Zaryad Ukraine</a>
                </li>
                <li class="ms-3">
                    <img class="instagram-icon" src="~/images/instagram.png" />
                    <a style="color: white; text-decoration: none;" href="https://www.instagram.com/zarryad_ua/">Zaryad Ukraine</a>
                </li>
            </ul>
        </footer>
    </div>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
