@{
    ViewData["Title"] = "Про сервіс";
}
<h1 class="page-header">@ViewData["Title"]</h1>

<h4 class="about-color about-underline about-text">Ласкаво просимо до нашого сервісу електрозаправних станцій!</h4>
<h5 class="about-text">
    Наш сервіс надає зручну та надійну інформацію про електрозаправні станції (ЕЗС)
    у вашому регіоні. Ми зібрали велику базу даних з детальною інформацією про різні станції,
    щоб допомогти вам знайти найближчу та оптимальну за вашими потребами.
</h5>
<h4 class="about-color about-underline about-text">Основні можливості нашого сервісу:</h4>
<h5 class="about-text">Картографія та навігація:</h5>
<br />
<h5 class="about-text">Наша інтерактивна карта дозволяє вам легко знайти найближчі ЕЗС у вашому районі. Ви можете використовувати фільтри для пошуку станцій, що підходять під ваш автомобіль та уподобання по зарядці.</h5>
<br />
<h5 class="about-text">Інформація про станції:</h5>
<br />
<h5 class="about-text"> Ми надаємо докладні відомості про кожну ЕЗС, включаючи типи доступних роз'ємів, потужність заряду, ціни і т.д.. Це допоможе вам ухвалити інформативне рішення при виборі станції.</h5>
<br />
<h5 class="about-text">Оновлена інформація:</h5>
<br />
<h5 class="about-text">Ми постійно оновлюємо нашу базу даних, щоб ви отримували актуальну інформацію про нові станції, зміни в цінах та послугах. Таким чином, ви завжди будете в курсі останніх подій та змін у світі електрозаправних станцій.</h5>
<h5 class="about-text about-color">Ми прагнемо зробити вашу поїздку на електромобілі максимально зручною та безпечною. Використовуйте наш сервіс, щоб заощаджувати час та енергію при пошуку та плануванні зарядки вашого електромобіля. Будьте впевнені, що ви завжди знайдете найближчу доступну ЕЗС за допомогою нашого зручного сервісу карти електрозаправних станцій.</h5>

