@{
    ViewData["Title"] = "Головна сторінка";
}

<div class="text-center">
    <h1 class="page-header">Карта зарядних станцій</h1>
    <iframe src='https://www.plugshare.com/widget2.html?latitude=48.379433&longitude=31.16558&spanLat=7.22836&spanLng=7.22836&plugs=1,2,3,4,5,6,42,13,7,8,9,10,11,12,14,15,16,17' width='800' height='600' allow='geolocation'></iframe>
</div>
